# Ignore the virtual environment
venv/
.venv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variables (sensitive info)
.env

# Ignore VS Code settings
.vscode/

# Ignore large machine learning model files
knh_sentiment_model.pkl

# Ignore the database
knh_feedback.db